/* анимация "готовые решения" */
.ready_gallery-item:hover .ready_gallery-name {
    transition: all 1s;
    animation: text-appearance 1s ease forwards;
}

@keyframes text-appearance {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(20%);
    }
}


/* анимация дисплея фотообоев */

.display-two .button-file {
    animation: up-button .5s ease-in-out forwards;
}

@keyframes up-button {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-450%);
    }
}

.display-two .display-text {
    text-align: center;
    animation: up-text .5s ease-in-out forwards;
}

@keyframes up-text {
    0% {
        transform: translateY(100%);
    }

    50%{
        max-width: 230px;
    }

    100% {
        text-align: left;
        margin-right: 120px;
        max-width: 230px;
        transform: translateY(-100%);
    }
}

.display-two .display-img {
    animation: up-img .5s ease forwards;
}

@keyframes up-img {
    0% {
        width: 200px;
        height: 200px;
    }


    100% {
        width: 25%;
        height: 25%;
        transform: translateX(150%) translateY(1%);;
    }
}


/* no-mebel */

.display-one .button-file {
    animation: up-buttonOne .5s ease-in-out forwards;
}

@keyframes up-buttonOne {
    0% {
        transform: translateY(-450%);
    }

    100% {
        transform: translateY(-15%);
    }
}

.display-one .display-text {
    animation: up-textOne .5s ease-in-out forwards;
}

@keyframes up-textOne {
    0% {
        text-align: left;
        transform: translateY(-300%);
    }

    100% {
        text-align: center;
        transform: translateY(0%);
    }
}

.display-one .display-img {
    animation: up-imgOne .5s ease-in-out forwards;
}

@keyframes up-imgOne {
    0% {
        transform: translateX(110%);
        width: 96px;
        height: 96px;
    }


    100% {
        width: 200px;
        height: 200px;
        transform: translateX(0%);
        transition: all .5s;
    }
}

@media (max-width: 600px) {
	@keyframes up-img {
        0% {
            transform: translateY(100%);
            width: 200px;
            height: 200px;
        }
    
        100% {
            margin-left: auto;
            width: 96px;
            height: 96px;
            transform: translateY(-10%);
        }
    }

    @keyframes up-text {
        0% {
            transform: translateY(100%);
        }
    
        50%{
            max-width: 230px;
        }
    
        100% {
            text-align: left;
            margin-right: 100px;
            max-width: 230px;
            transform: translateY(-160%);
        }
    }
}

/*  */

.d-none{
    display: none;
    transition: all .5s ease-in;
}



/* slider */


.slide-unactive{
    transform: translateY(423px);
}

.slide-active{
    transform: translateY(-429px);
}